{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tasks{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/projects.css?{% now 'U' %}">
</head>
<body>
    <main>
        {% block content %}
        <div class="LeftMenu">
            <div class="UserMenu">
                <img id="profile-picture" src="../static/images/userdefault.png" alt="{{ request.session.username }}">
                <span id="username">
                    {% if request.session.username %}
                        <span>{{ request.session.username }}</span>
                    {% else %}
                        <span><a href="{% url 'login'%}">Login</a></span>
                    {% endif %}
                </span>
                <img id="more-button" src="../static/images/more.png" alt="More" onclick="displayMore()">
                <div class="MoreMenu">
                    <ul id="menu-list">
                        <li>Profile</li>
                        <li>Account</li>
                        <li>Settings</li>
                        <li><a id="logout-button" href="{% url 'logout'%}">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="ProjectMenu">
                <div class="projects-header">
                    <h3 class="projects-header-text"> My Projects </h3>
                    <button class="AddButton" id="AddProjectButton">+</button>
                </div>
            </div>
        </div>

        <div class="TaskMenu">
            <h1> Create a New Project </h1>
            <div class="tasks-header">
                <form action="{% url 'projects'%}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Create</button>
            </form>
            </div>
        </div>

        {% endblock %}
    </main>
    <script src="{% static 'scripts/projects.js' %}">
    </script>
</body>
</html>