{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tasks{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/tasks.css?{% now 'U' %}">
</head>
<body>
    <main>
        {% block content %}
        <div class="LeftMenu">
            <div class="UserMenu">
                <img id="profile-picture" src="../static/images/userdefault.png" alt="{{ request.session.username }}">
                <span id="username">
                    {% if request.session.username %}
                        <span>{{ request.session.username }}</span>
                    {% else %}
                        <span><a href="{% url 'login'%}">Login</a></span>
                    {% endif %}
                </span>
                <img id="more-button" src="../static/images/more.png" alt="More" onclick="displayMore()">
                <div class="MoreMenu">
                    <ul id="menu-list">
                        <li>Profile</li>
                        <li>Account</li>
                        <li>Settings</li>
                        <li><a id="logout-button" href="{% url 'logout'%}">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="ProjectMenu">
                <div class="projects-header">
                    <h3 class="projects-header-text">My Projects</h3>
                </div>
            </div>
        </div>
        <div class="TaskMenu">
            <h1> Project Name </h1>
            <div class="tasks-header">
                <h3 class="tasks-header-text"> Tasks </h3>
                <button id="AddTaskButton">+</button>
            </div>
        </div>


        <div class="AddTaskContainer">
            <div class="ContainerLine"></div>
            <button id="CloseContainerButton">x</button>
            <h2>Add a Task</h2>
            <form action="{% url 'tasks'%}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Add</button>
            </form>
        </div>
        <div id="overlay" class="hidden"></div>
        {% endblock %}
    </main>
    <script>
        const openTaskContainer = document.getElementById('AddTaskButton');
        const toggleableDiv = document.querySelector('.AddTaskContainer');
        const overlay = document.getElementById('overlay');
        const closeTaskContainer = document.getElementById('CloseContainerButton');
        const moreMenu = document.querySelector('.MoreMenu');

        toggleableDiv.style.display = 'none';
        moreMenu.style.display = 'none';

        toggleAddTaskContainer(openTaskContainer);
        toggleAddTaskContainer(closeTaskContainer);
        function toggleAddTaskContainer(Button){
            Button.addEventListener('click', () => {
                if (toggleableDiv.style.display === 'none') {
                    overlay.style.display = 'block';
                    toggleableDiv.style.display = 'block'; // Show the div
                } else {
                    overlay.style.display = 'none';
                    toggleableDiv.style.display = 'none'; // Hide the div
                }
            });
        }

        function displayMore(){
            if (moreMenu.style.display === 'none') {
                moreMenu.style.display = 'block';
            } else {
                moreMenu.style.display = 'none';
            }
        }
    </script>
</body>
</html>