body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #2e2e2e;
}

main {
    display: flex;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

textarea, input, select {
    font-family: Arial, sans-serif;
    border: none;
}

textarea, input, select:focus {
    outline: none;
}

#AddTaskContainer {
    max-width: 500px;
    width: 500px;
    margin-left: 30%;
    margin-top: 20px;
    float: right;
    background-color: #fafafa;
    border-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    z-index: 6;
}

.AddTaskHeader {
    height: 50px;
    width: 100%;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #b8b8b8;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#AddTaskHeaderText {
    margin-left: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#CloseTaskContainerButton {
    background-color: #ee7b67;
    color: #1e1e1e;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
}

#CloseTaskContainerButton:hover {
    background-color: #ee8767;
}

.AddTaskBody {
    position: relative;
    height: 420px;
}

#AddTaskForm {
    margin-left: 20px;
    width: 800px;
}

.ContainerLine {
    background-color: #eecb67;
    width: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    padding: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button {
    background-color: #fec051;
    color: #1e1e1e;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.form-button:hover {
    background-color: #fda84b;
}

input[type="submit"]:hover {
    background-color: #555;
}

.AddButton {
    background-color: #fec051;
    color: #2e2e2e;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    width: 30px;
    padding: 5px;
    line-height: 16px;
}

.AddButton:hover {
    background-color: #fda84b;
}

textarea {
    resize: none;
}

.LeftMenu {
    background-color: #eecb67;
    width: 301px;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-width: 1px;
    border-right-style: solid;
    border-color: #b8b8b8;
}

.UserMenu {
    background: linear-gradient(to top right, #fe9043, #fec051);
    height: 130px;
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 4;
}

.ProjectMenu {
    background-color: #f2f2f2;
    width: 300px;
    height: 100%;
    top: 130px;
    float: left;
    position: fixed;
    border-width: 1px;
    border-top-style: solid;
    border-color: #b8b8b8;
}

#more-button {
    padding: 5px;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    z-index: 2;
}

#more-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.MoreMenu {
    top: 46px;
    right: 5px;
    width: 100px;
    height: 120px;
    position: absolute;
    background-color: #f5f5f5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
}

#menu-list {
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin: 10px;
}

.menu-item {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.menu-item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

#logout-button {
    text-decoration: none;
    color: #CC3434;
}

#task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Darken the background with an alpha value */
    z-index: 5;
    display: none;
}

.hidden {
    display: none;
}

.TaskMenu {
    position: relative;
    margin-left: 300px;
    box-sizing: border-box;
    width: 100%;
}

.TaskMenu-Header {
    display: flex;
    height: 50px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #b8b8b8;
    align-items: center;
}

.project-name {
    margin-left: 20px;
    position: relative;
    display: flex;
    font-size: 24px;
}

.project-deadline-text {
    margin-left: 50px;
    position: relative;
    display: flex;
    font-size: 12px;
}

.project-deadline {
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    display: flex;
    font-size: 12px;
}

#project-more-button {
    padding: 5px;
    height: 20px;
    width: 20px;
    top: 15px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    z-index: 2;
}

#project-more-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.Project-MoreMenu {
    top: 50px;
    right: 5px;
    width: 100px;
    height: 70px;
    position: absolute;
    background-color: #f5f5f5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
}

#project-menu-list {
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin: 10px;
}

#delete-project {
    text-decoration: none;
    color: #CC3434;
}

.tasks-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.tasks-header-text {
    margin-right: 30px;
}

.task-list {
    margin-left: 50px;
    margin-right: 150px;
}

#tasks {
    list-style: none;
}

.task-container {
    background-color: #f2f2f2;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 7px;
    align-items: center;
}

#task-name {
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    margin-right: 50px;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#task-status {
    background-color: #b5b5b5;
    font-size: 11px;
    color: white;
    padding: 5px;
    display: inline-flex;
    margin: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 60px;
    align-items: center;
    justify-content: center;
}

#task-priority-text {
    display: inline-flex;
    font-size: 14px;
}

#task-priority {
    background-color: #b5b5b5;
    font-size: 11px;
    color: white;
    padding: 5px;
    display: inline-flex;
    margin: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

#task-due-date-text {
    display: inline-flex;
    font-size: 14px;
    margin-left: 20px;
}

#task-due-date {
    display: inline-flex;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.container-anchor {
    text-decoration: none;
    color: #1f1f1f;
}

.projects-header {
    display: flex;
    align-items: center;
}

.projects-header-text {
    margin-left: 20px;
    margin-right: 30px;
}

select {
    background-color: #ffbd59;
    appearance: none;
    width: 80px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
    text-align: center;
    border: none;
}

select:hover {
    cursor: pointer;
    background-color: #fda84b;
}

#username {
    font-weight: bold;
    position: absolute;
    top: 40px;
}

#profile-picture {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

#project-list {
    text-decoration: none;
    color: #333;
}

#projects {
    list-style: none;
}

.proj {
    padding: 8px;
}

.proj a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0px;
    width: 100%;
}

.proj:hover {
    background: rgba(0, 0, 0, 0.1);
}

.proj:active {
    color: #fff;
}

#EditTaskContainer {
    max-width: 500px;
    width: 500px;
    margin-left: 30%;
    margin-top: 20px;
    float: right;
    background-color: #fafafa;
    border-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    z-index: 6;
}

.EditTaskHeader {
    height: 50px;
    width: 100%;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #b8b8b8;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#EditTaskHeaderText {
    margin-left: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#editTask-more-button {
    margin-right: 20px;
    padding: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 8px;
}

#editTask-more-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#CloseEditTaskContainerButton {
    background-color: #ee7b67;
    color: #1e1e1e;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
}

#CloseEditTaskContainerButton: hover {
    background-color: #ee8767;
}

.EditTaskBody {
    position: relative;
    height: 750px;
}

.right-buttons {
    display: flex;
    align-items: center;
}

.EditTaskBody {
    position: relative;
    height: 500px;
}

#editTaskForm {
    margin-left: 20px;
    width: 800px;
}

#edit-task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    display: none;
}

.Task-MoreMenu {
    top: 46px;
    right: 5px;
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: #f5f5f5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
}

#task-menu-list {
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin: 10px;
}

#delete-task {
    text-decoration: none;
    color: #CC3434;
}

#login-button {
    font-weight: bold;
    font-size: 14px;
    width: 200px;
    color: #1e1e1e;
    text-decoration: none;
}

#login-button:hover {
    color: #4f4f4f;
}




